.shay-player {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #000;
    overflow: hidden;
    
    @media screen and (min-width: 600px) {
        width: 350px;
        height: unset;
        aspect-ratio: 3/6;
        border-radius: 15px;
    }

    .sound-details {
        position: relative;
        flex-grow: 1;
        height: 0;

        > img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .audio-animation {
            width: 100%;
            height: 100%;
            position: absolute;

            backdrop-filter: blur(25px);

            &.playing {
                svg {
                    animation: rotate linear infinite forwards, shrink 2s linear infinite forwards;
                }
            }

            @keyframes rotate {
                from {
                    transform: translate(-50%, -50%) rotateZ(0deg);
                }
                to {
                    transform: translate(-50%, -50%) rotateZ(360deg);
                }
            }

            @keyframes shrink {
                0%,
                100% {
                    width: 40%;
                    height: 40%;
                }
                50% {
                    width: 60%;
                    height: 60%;
                }
            }

            img {
                position: absolute;
                width: 50%;
                aspect-ratio: 1;
                border: 10px solid rgba(228, 175, 225, 0.16);

                top: 50%;
                inset-inline-start: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
                border-radius: 100vw;
                z-index: 10;
            }

            svg {
                $speed: 6s;

                position: absolute;
                top: 50%;
                inset-inline-start: 50%;
                transform: translate(-50%, -50%);
                width: 0%;
                height: 0%;
                z-index: 5;

                &:nth-of-type(1) {
                    z-index: 1;
                    opacity: 0.8;
                    animation-duration: $speed / 1.5;
                    path {
                        fill: rgb(232, 45, 160);
                    }
                }

                &:nth-of-type(2) {
                    z-index: 2;
                    opacity: 0.6;
                    animation-duration: $speed / 2;
                    path {
                        fill: rgb(209, 103, 168);
                    }
                }

                &:nth-of-type(3) {
                    z-index: 3;
                    opacity: 0.4;
                    animation-duration: $speed / 2.5;
                    path {
                        fill: rgb(219, 150, 193);
                    }
                }
            }
        }

        .info {
            position: absolute;
            z-index: 1;
            color: #fff;
            bottom: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-inline-start: 50px;
            width: 100%;
            background: linear-gradient(#0000, #000);

            .title {
                font-size: 2rem;
                font-weight: 500;

                &::first-letter {
                    text-transform: capitalize;
                }
            }

            .mood {
                color: $light-white;
            }
        }
    }

    .sound-list {
        flex-grow: 1;
        height: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
        margin: 1em 0;
        padding-inline-end: 1em;

        .sound-preview {
            $preview-height: 60px;

            display: flex;
            align-items: center;
            height: $preview-height;
            cursor: pointer;

            .player-state {
                width: 50px;
                height: 100%;
                color: $light-white;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .preview-content {
                width: 0;
                flex-grow: 1;
                display: flex;
                align-items: center;
                color: $dark-white;
                position: relative;
                border-radius: 8px;
                overflow: hidden;

                &:hover {
                    background: linear-gradient(-90deg, rgba(51, 18, 40, 0.25) 0%, rgba(176, 56, 111, 0.25) 100%);
                }

                &.selected {
                    background: linear-gradient(-90deg, rgba(51, 18, 40, 1) 0%, rgba(176, 56, 111, 1) 100%);
                }

                img {
                    height: $preview-height;
                    width: $preview-height;
                    object-fit: cover;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 0.5em 0.75em;
                    height: $preview-height;

                    .title {
                        font-weight: 700;

                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }

                    .mood {
                        font-size: 0.75em;
                        color: $light-white;

                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }

                    .duration {
                        position: absolute;
                        top: 50%;
                        inset-inline-end: 1rem;
                        transform: translatey(-50%);
                        font-size: 1.2rem;
                        color: $light-white;

                        :last-child {
                            font-size: 0.6em;
                            padding-inline-start: 0.15em;
                        }
                    }
                }
            }
        }
    }
}
